.App {
  width: 100%;
  /*margin-left:20%;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ece6e1;
}

.header {
  /* text-transform: uppercase; */
  font-size: 25px;
  
  
  color: rgb(7, 16, 44);
  z-index: 1;
  /* text-align: center; */
  display: flex;
}
.navbar, .pageTitle {
  flex: 33%;
}
.pageTitle{
  padding-top: 30px;
  padding-left: 23px;
  text-align: left;
}
@media (max-width: 2000px){
  .App-header{
    margin: 10px 0;
    font-size: 35px;
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar div {
    margin-top:12px;
    padding: 20px;
    cursor: pointer;
    
}
@media (max-width: 1200px){
  .pageTitle{
    display: none;
  }
}

.navbar div:hover {
  background-color: gray;
}
.navbar div.selected, .navbar div.selected:hover {
  background-color: white;
}




.gradients {
  
  text-align: left;
  width: 100%;
} 
/*
@media (min-width: 1350px){
    .gradients {
      padding: 0;
      position: absolute;
      top: 300px;
      left:0;
  }
}*/

.pctAvailGradient {
  padding-left: 4px;
  border-radius: 5px;
  cursor: pointer;
}
.pctAvailGradient:hover {
  background-color: white;
  
}

.pctAvailGradient svg.gradient{
  width: 200px;
  height: 80%
  
  
}
.pctAvailGradient svg.cluster{
  width: 20px;
  height: 90%;
  position: relative;
  top: 6px;
  
  
}
.pctAvailGradient span {
  margin:0;
  padding:0;
  position: relative;
  top: -5px;
}
.gradientLegend {
  text-align: center;
  width: 200px;
  margin-top: 30px;
}


.detailView {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: inline-block;
}


/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 80px 1fr 30px;
  grid-template-areas:
    "header header"
    "sidenav main"
    "footer footer";
  height: 100vh;
  width: 100%;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

.main {
  grid-area: main;
  background-color: #eeeeee;
  padding: 25px;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
  padding: 5px;
  text-align: right;

}

/* .maingrid {
  display: grid;
  grid-template-columns: 1fr 380px;
  grid-template-rows: 1fr ;
  grid-template-areas:
    "main_left main_right";

  height: 100%;
  width: 100%;
} */
.group-colorbar{
  display: inline-block;
  height: 60px;
  width: 30px;
}

.group-name {
  padding:10px;
  

  /* box-shadow: 1px 1px 2px #000000;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  border: 1px solid black; */
}
.group-buttons {
  width: 50px;
  padding-top:10px;
}
.group-row:hover {
  background-color:#f7f7f7;
}
.iconbutton {
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 4px;
  /* border:1px solid black; */
}
.iconbutton:hover {
  background-color: #ffffff;
}
.group-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #919191;
}