.App {
  width: 100%;
  /*margin-left:20%;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ece6e1;
}

.header {
  /* text-transform: uppercase; */
  font-size: 25px;
  
  
  color: rgb(7, 16, 44);
  z-index: 1;
  /* text-align: center; */
  display: flex;
}
.navbar, .pageTitle {
  flex: 33%;
}
.pageTitle{
  padding-top: 30px;
  padding-left: 23px;
  text-align: left;
}
@media (max-width: 2000px){
  .App-header{
    margin: 10px 0;
    font-size: 35px;
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar div {
    margin-top:12px;
    padding: 20px;
    cursor: pointer;
    
}
@media (max-width: 1200px){
  .pageTitle{
    display: none;
  }
}

.navbar div:hover {
  background-color: gray;
}
.navbar div.selected, .navbar div.selected:hover {
  background-color: white;
}




.gradients {
  
  text-align: left;
  width: 100%;
} 
/*
@media (min-width: 1350px){
    .gradients {
      padding: 0;
      position: absolute;
      top: 300px;
      left:0;
  }
}*/

.pctAvailGradient.selectable {
  /* padding-left: 4px; */
  border-radius: 5px;
  padding: 4px 2px 1px 4px;
  cursor: pointer;
}
.pctAvailGradient.selectable:hover {
  background-color: white;
  
}

.pctAvailGradient svg.gradient{
  width: 200px;
  height: 80%;
  border: 1px solid gray;
  
}
.pctAvailGradient svg.cluster{
  width: 20px;
  height: 90%;
  position: relative;
  top: 6px;
  
  
}
.pctAvailGradient span {
  margin:0;
  padding:0;
  position: relative;
  top: -5px;
}
.gradientLegend {
  text-align: center;
  width: 200px;
  margin-top: 30px;
}


.detailView {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: inline-block;
}


/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 80px 1fr 30px;
  grid-template-areas:
    "header header"
    "sidenav main"
    "footer footer";
  height: 100vh;
  width: 100%;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #c9dfcb;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  
}
.sidenav.with-padding {
  padding: 10px;
}

.main {
  grid-area: main;
  background-color: #eeeeee;
  padding: 25px;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
  padding: 5px;
  text-align: right;

}

 .maingrid {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas:
    "main_left main_right";

  height: 100%;
  width: 100%;
} 
.main-left,.main-right {
  padding: 5px;
}
.group-colorbar, .feature-colorbar{
  display: inline-block;
  height: 60px;
  width: 30px;
}
.feature-colorbar{
  width: 7px;
  height: 27px;
}


.group-name, .feature-name {
  padding:3px 10px;
} 
.feature-name {
  width: 30%;
}
.group-buttons, .feature-buttons {
  width: 50px;

}
.group-row:hover {
  background-color:#f7f7f7;
}
.iconbutton {
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 4px;
}
.iconbutton:hover {
  background-color: #ddd;
}
.feature-row .iconbutton:hover {
  background-color: #ddd;
}
.group-row, .feature-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #919191;
  background-color: white;
}
.sidenav .group-row {
  cursor: pointer;
}
.group-row.active {
  font-weight: bold;
}
.group-row.active .group-colorbar{
  width: 50px;
}
.ImputationMenu .group-row{
  cursor: default;
  flex-wrap:wrap;
}

ul.feature-list > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-list{
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid black;
}

.FullWidthButton {
  width: 100%;
  font-size: 16px;
  height: 50px;
}
.d3detailSquares{
  width:95%;
}
.d3detailSquares svg {
  width: 100%;
}
.d3detailSquares-feature svg .tick text {
  cursor: pointer;
}

.imp-parameter  {
  padding: 5px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.imp-error-colorbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top:5px;
  margin-right: 5px;
}

.imp-err-wrapper{
  display:flex;
  flex-wrap: wrap;  
}
.imp-err-wrapper .group-row {
  display: block;
  padding: 0;
  padding-bottom: 5px;
  margin: 10px;
  flex-shrink: 0;
}
.imp-err-wrapper .group-row:hover {
  background-color: white;
} 
.imp-err-wrapper .group-name {
  padding: 5px;
  font-weight: bold;

}
.imp-err-wrapper .group-features {
  padding-left: 5px;
  padding-right: 5px;
}
.imp-error-legend{
  display: flex;
  align-items: center;
  justify-content: start;
}
.imp-error-legend div{
  flex-shrink: 0;
  margin: 10px;
}
.imp-error-legend .colorsquare{
  width: 30px;
  height: 30px;
  
}
.is-string-box{
  background:#444;
  color: white;
  border-radius: 2px;
  padding: 1px 4px;
  margin-left: 5px;
}

.gradient-group-title {
  display: flex;
  background-color: white;
  cursor: default;
  margin-top:20px;
  margin-bottom: 3px;
  align-items: center;
}
.gradient-group-title .group-colorbar {
  margin-right: 20px;
}
.gradient-group-title h4 {
  margin: 0;
}
.infobox {
  display: block;
  max-width: 500px;
  background-color: #fff;
  font-size: 0.9em;
  color: #444;
  padding: 10px;
  margin-top: 5px;
}
.infobox.small {
  font-size: 0.7em;
}



